# Python
*.pyc
*~
__pycache__
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media
/media/

# OS
.DS_Store
Thumbs.db
